{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Add Tweet By ModelForm Page</h2>
<div class="container tweetform">
<!-- POST = sunucuya bilgi atmak için, GET = sunucudan bilgi almak için -->
  <form action="" method="POST">
    {% csrf_token %}
     
        {% for item in form %}
          <div class="mb-3">
            {{ item.label_tag }}
            {{ item }}
          <br>
          </div>
        {% endfor %}
    
    <button type="submit" class="btn btn-primary">Send Tweet</button>

  </form> 
</div>
{% endblock %}